.main-section
  .header
    -if user_signed_in?
      =render "template/header_login"
    -else
      =render "template/header_unlogin"
.user__show
  - breadcrumb :shipping
  = breadcrumbs pretext: "",separator: " &rsaquo; "


  .row{:style => "margin-top: 50px"}
    .col-lg-8
      = render 'shippings/newform',shipping:@shipping
  .row
    %table.table.table-bordered
      %thead.thead-light
        %tr
          %th 郵便番号
          %th 都道府県
          %th 市区町村
          %th 番地
          %th ビル
          %th 宛名
          %th
          %th
      %tbody
        - @shippings.each do |shipping|
          %tr
            %td.align-middle= shipping.postcode
            %td.align-middle= shipping.prefecture_code
            %td.align-middle= shipping.address_city
            %td.align-middle= shipping.address_street
            %td.align-middle= shipping.address_building
            %td.align-middle= shipping.name
            %td= link_to "Edit",edit_shipping_path(shipping), class: "btn-sm btn-success"
            %td= link_to "Destroy", shipping_path(shipping), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book"