.header
  .nav
    .ul.global-nav
      %li.nav-seach
        = link_to root_path, method: :get do
          %i.fas.fa-search
      .nav-list
        %li
          = link_to ' HOMES', root_path, class: 'nav-list-home'
          = link_to ' ABOUT', top_about_path, class: 'nav-list-about'
          = link_to ' CATEGORY', "#", class: 'nav-list-category'
          = link_to root_path, method: :get do
            %span.shop-name Create_Shop
      %li.nav-login
        = link_to new_user_session_path, method: :get do
          %p.nav-login__title LOGIN
      %li.nav-cart
        = link_to cart_items_confirm_path, method: :get do
          %i.fas.fa-shopping-cart
