.header
  .nav
    .ul.global-nav
      %li.nav-seach
        = link_to root_path, method: :get do
          %i.fas.fa-search
      .nav-list
        %li
          = link_to ' HOME', root_path, class: 'nav-list-home'
          = link_to ' ABOUT', top_about_path, class: 'nav-list-about'
          = link_to ' CATEGORY', "#", class: 'nav-list-category'
          = link_to root_path, method: :get do
            %span.shop-name Create_Shop
      %li.nav-login
        = link_to new_user_session_path, method: :get do
          %p.nav-login__title LOGIN
        %ul
          %li
            = link_to ' LOGIN', new_user_session_path, class: ''
          %li
            = link_to ' SIGN_IN', new_user_registration_path, class: ''
      %li.nav-cart
        = link_to new_user_registration_path, method: :get do
          %i.fas.fa-shopping-cart
