=render "template/header_admin"
.product-img-page
  .container
    %h3.page-title
      商品詳細
    .row
      .col-lg-12
        = attachment_image_tag @product, :image, fallback: "no_image.jpg",class: "product-image"
    .row
      .col-lg-1
      .col-lg-2
        %b 商品名
      .col-lg-8
        = @product.name
    .row
      .col-lg-1
      .col-lg-2
        %b 商品説明
      .col-lg-8
        = @product.introduction
    .row
      .col-lg-1
      .col-lg-2
        %b カテゴリー名
      .col-lg-8
        = @product.category.name
    .row
      .col-lg-1
      .col-lg-2
        %b 税込価格(税抜価格)
      .col-lg-8
        = @tax_price.to_s(:delimited)
        (#{@product.price})&#x5186;
    .row
      .col-lg-1
      .col-lg-2
        %b 販売ステータス
      .col-lg-8
        = @product.is_active
    .row
      .action-bottons
        = link_to "編集する",edit_admin_product_path(@product), class: "btn btn-primary bottom"
