.main-section
  .header
    -if user_signed_in?
      =render "template/header_login"
    -else
      =render "template/header_unlogin"
.product-image-page
  .container
    .row
      .col-lg-5
        = attachment_image_tag @product, :image, fallback: "no_image.jpg",class: "product-show-image"

      .col-lg-7.product__title
        = @product.name

      .col-lg-7
        %p.product__title__price
          ¥
          = @tax_price.to_s(:delimited)
          %span.product-price
            税込

      .col-lg-7
        = link_to "カートに入れる",root_path, class: "btn btn-primary bottom"

      .col-lg-7
        = link_to "♡ お気に入りに追加",root_path, class: "btn btn-default "

      .col-lg-7.product__title__price__introduction
        = @product.introduction

      
